<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <meta name="description" content="<%=locals.description%>">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
