*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root{
    font-size: 16px;
    --border-bottom: #232323;
    --white-default: #fff;
    --color-violet:  linear-gradient(to top, #09203f 0%, #537895 100%);

}

.border-none{
    border: none!important;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  min-height: 100vh;
  max-width: 1fr;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 110px;
    border-bottom: 2px solid var(--border-bottom);
    background: var(--white-default);
}




.main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 100vh;
    max-width: 1fr;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 998;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 60px;
    border-top: 2px solid var(--border-bottom);
    background-color: var(--white-default);
}

.card{
    min-height: 60vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

.title__box, .footer__box{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 60px;
    padding: 1rem 0;
}

.character__img{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
   width: 90%;
   padding: 0 2rem;
    height: 250px;
    object-fit: contain;
    min-height: 60px;
    background: var(--color-violet);
    margin:10px auto;
}